* {
    margin: 0;
    box-sizing: border-box;
    background-color: pink;

}

img {
    width: 100%;
    vertical-align: top;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0px;
}

.container{
    max-width: 300px;
    margin: auto;
}